<ion-header>
	<ion-navbar>
		<ion-title>Followers</ion-title>
	</ion-navbar>

	<ion-segment *ngIf="!isEmptyState" [(ngModel)]="selectedSegment">
		<ion-segment-button value="following">
			Following ({{(followingCollection.$ | async)?.length}})
		</ion-segment-button>
		<ion-segment-button value="followers">
			Followers ({{(followersCollection.$ | async)?.length}})
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
	<ion-list *ngIf="!isEmptyState" [ngSwitch]="isAddressBook">
    <div [hidden]="selectedSegment !== 'followers'">
			<player-list *ngSwitchCase="false" [playerList$]="followersCollection.$"></player-list>
    </div>

    <div [hidden]="selectedSegment !== 'following'">
			<player-list *ngSwitchCase="false" [playerList$]="followingCollection.$"></player-list>
    </div>
	</ion-list>

	<no-data-message *ngIf="isEmptyState">No followers yet.</no-data-message>
</ion-content>
