<ion-header>
	<ion-navbar>
		<ion-title>Followers</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="following">
			Following ({{(followers.following$ | async)?.length}})
		</ion-segment-button>
		<ion-segment-button value="followers">
			Followers ({{(followers.followers$ | async)?.length}})
		</ion-segment-button>
	</ion-segment>

	<ion-list>

    <div [hidden]="selectedSegment !== 'followers'">

      <ion-item
  			*ngFor="let user of followers.followers$ | async"
  			(click)="openProfile(user)"
  		>
				<ion-avatar item-left>
					<loading-img [src]="(user.$ | async)?.details.image"></loading-img>
				</ion-avatar>
  			{{ (user.$ | async)?.details.firstName + " " + (user.$ | async)?.details.lastName }}
  		</ion-item>

    </div>

    <div [hidden]="selectedSegment !== 'following'">

      <ion-item
  			*ngFor="let user of followers.following$ | async"
  			(click)="openProfile(user)"
  		>
				<ion-avatar item-left>
					<loading-img [src]="(user.$ | async)?.details.image"></loading-img>
				</ion-avatar>
  			{{ (user.$ | async)?.details.firstName + " " + (user.$ | async)?.details.lastName }}
  		</ion-item>

    </div>

	</ion-list>

</ion-content>
