challenge {

	.playerName{
		text-align:center;
		margin-top:10px;
	}

}

opponents {
	display: block;
	background:$primary-gradient;
	color: $white;

	ion-grid.grid {
		padding:0;
	}

	ion-grid ion-row{
		@include flexVerticalCenter;
		text-align:center;
	}

	loading-img{
		img {
			border-radius: 5rem;
		}
		width:9rem;
		height:9rem;
		display:block;
		margin:auto;
	}

	.vs{
		text-align:center;
	}

	.playerName{
		margin-top:10px;
	}
}
