.challenge-com{

	ion-grid{
		height: 100%;
	}

	ion-row{
		height:50%;
	}

	.top{

	}

	.opponents{
		color:$text-white;
		background:$primary-gradient;

		ion-grid ion-row{
			@include flexVerticalCenter;
			text-align:center;
		}
	}




	//this code is cut and pasted from games
	//@#Test:0 Code should be shared.
	img{
		width:6rem;
		height:6rem;
		display:block;
		margin:auto;

		border-radius: 3rem;
	}

	.playerName{
		text-align:center;
		margin-top:10px;
	}

	.vs{
		text-align:center;
	}




}
