rankings-list {
	.ranking-board > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
	.name {
		font-size: 18px;
	}
	ranking-avatar {
		width: 60px;
	}
	no-data-message {
		margin-top: 40%;
		padding: 0 10px;
	}
}
