<ion-header>
  <ion-navbar>
    <ion-title>Rankings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <no-data-message *ngIf="(rankingsList.$ | async).length === 0">
    No rankings yet.
  </no-data-message>
  <div *ngIf="(rankingsList.$ | async).length > 0">
    <header>
  		<ion-grid>
  			<ion-row>
  				<ion-col width-33>
  					<dd>{{currentUserRanking?.position}}</dd>
  					<dt>Position</dt>
  				</ion-col>

  				<ion-col width-33>
  					<img [src]="userSvc.current.avatar$ | async" alt="">
  				</ion-col>

  				<ion-col width-33>
  					<dd>{{(currentUserRanking?.user.$ | async)?.stats.wins}}</dd>
  					<dt>Wins</dt>
  				</ion-col>
  			</ion-row>
  		</ion-grid>
  	</header>
    <ion-list class="ranking-board">
  	  <ion-item *ngFor="let rankingModel of (rankingsList.$ | async); let index = i;">
  			<ion-item [class.active]="rankingModel.user._id === userSvc.current._id">
  				<ion-grid>
  					<ion-row>
  						<ion-col class="position" col-1>{{rankingModel.position}}
  						</ion-col>

  						<ion-col class="img" col-2>
  							<loading-img [src]="rankingModel.user.avatar$ | async"></loading-img>
  						</ion-col>

  						<ion-col class="name" col-7>{{rankingModel.user.getValue().details.fullName}}
  						</ion-col>

  						<ion-col class="ranking" col-2>{{rankingModel.user.getValue().stats.wins}}<br />
                <span>Wins</span>
  						</ion-col>
  					</ion-row>
  				</ion-grid>
  			</ion-item>
  	  </ion-item>
  	</ion-list>
  </div>
</ion-content>
