rankings-list,
rankings-list-com{

	background: $white;

	.ios-padding{
		padding: 16px;
	}

	header{

		color:$white;
		background:$primary-gradient;

		img{
			height:8rem;
			width:8rem;
			border-radius:4rem;
		}

		@include detailsBuckets;

	}

	.ranking-board{

		ion-row{
			@include flexVerticalCenter;
		}

		.position{
			font-size:2rem;
			font-weight:bold;
		}

		.img img{
			border-radius:50%;
			max-width: 88%;
		}

		.ranking{
			font-size:2.3rem;
			font-weight:bold;
			text-align:right
		}

		.name{
			font-size:1.9rem;
			color:$lighter-grey;
		}

		.item.active{
			border:1px dashed $primaryColor;
		}

		ion-item-sliding:nth-child(even) .item{
			background: rgba(0,0,0,0.02);
		}

	}

	ion-list .item .item-inner,
	ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item{
		border-bottom:1px solid rgba(0,0,0,0.1);
	}



}
