.availability {

	border-bottom: 0.55px solid #c8c7cc;

	table{
		width:100%;
		margin: 25px 0;
	}

	thead td, label{
		text-align:center;
	}

	td {
		vertical-align:middle;
		text-align: center;
	}

  .day-period-title{
    line-height: 40px;
  }

	label{
		display:block;
	}

	.invisible{
		visibility: hidden;
	}

  ion-checkbox{
    margin:0!important;
    position:relative!important;
  }

	ion-checkbox button.item-cover{
		position:relative!important;
		margin:5px;
	}

	.checkbox-icon{
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
	}

	.item-inner{
		border:none;
	}

	ion-item{
		border-bottom: 1px solid #dedede;
	}

}
