//Common SCSS to all platforms

ion-content{
	background:$quiet-grey;
}

ion-list-header{
	background: $white;
}

.item-wrapper{
	margin: 0 16px;
}

ion-navbar{
	.toolbar-background-md, .toolbar-background-ios {
		background:$lightseagreen;
		border-color: transparent!important;
	}
	.toolbar-title-md, .toolbar-title-ios {
		color: $text-white;
	}
	.bar-button-default-md, .bar-button-default-ios {
		color: $text-white;
	}

}

.segment-ios {
	padding: 8px;
}

ion-list-header.component-header ion-label.label-ios{
	margin-top:30px;
}

ion-list-header.panel-header {
	color: $white;
	border-bottom: none;
}

.hidden {
	visibility: hidden!important;
}

.none {
	display:none!important;
}

.avatar {
	border-radius: 50%;
	width: 50px;
	margin:auto;
	display: block;
}

//mixins

@mixin no-borders{
  ion-list .item .item-inner,
  .item-inner, .item-block, .item-block:first-child{
    border: none!important;
  }
}

@mixin flexVerticalCenter{
	align-items: center;
	justify-content: center;
}

@mixin detailsBuckets{

	ion-row{
		@include flexVerticalCenter;
	}

	ion-col{
		text-align:center;

		dt, dd{
			text-align:center;
			margin:0;
			font-weight: 100;
		}

		dd{
			font-size: 2.5rem;
			font-weight: bold;
		}

	}

	@content;

}
