// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

//Colours
$darkcyan: #16a086;
$lightseagreen: #20c0a3;
$lightgreen: #1dd4b1;
$white: #fff;
$red: #c75959;
$red-faded: rgba(204, 50, 50, 0.55);
$primaryColor: $darkcyan;
$primaryTintLight: #f3fdfb;
$text-white: #fff;
$text-color:#444;
$lighter-grey: rgba(68, 68, 68, 0.8);
$text-colour-light-grey:#333;
$text-colour-grey: $text-color;
$border-colour-grey:#c8c7cc;
$quiet-grey: #fcfcfc;
$not-as-quiet-grey: #e8e8e8;
$toolbar-grey: #f8f8f8;
$yellow: #bba141;
$primary-gradient: linear-gradient(to bottom, $lightgreen 0%, $darkcyan 77%);

$colors: (
  primary:    $primaryColor,
  secondary:  red,
  danger:     #f53d3d,
  grey: $text-colour-light-grey,
  yellow: #f1b219,
  light: (
    contrast: #333,
    base: #f3f3f3
  ),
  dark:       #222,
  favorite:   #69BB7B,
  navbarColor: (
    base: red,
    contrast: white
  )
);

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

@import "app.common";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
