profile-menu {
	ion-item-divider[light]{
		background: #fcfcfc;
	}

	ion-thumbnail {
		img {
			border-radius: 50%;
		}
		loading-img {
			width: 100px;
			height: 100px;
		}
	}

	.logout {
		width: 100%;
		text-align: center;
		color: red;
		display: block;
	}
}
