profile-menu {

	ion-item-divider[light]{
		background: #fcfcfc;
	}

	ion-thumbnail img {
		border-radius: 50%;
	}

	.logout {
		width: 100%;
		text-align: center;
		color: red;
		display: block;
	}

}
