profile-main {

	$text-colour: #fff;
	$background-colour:#16a086;

	.content-background{
		background: $white;
	}

	header {
		padding: 15px 25px 5px;
		color:$text-colour;
		background: $primary-gradient;

		loading-img {
			&.no-photo-avatar{
				opacity: 0.5;
			}
			width:14rem;
			height:14rem;
			display:block;
			margin:auto;
			img {
				border-radius:7rem;
			}
		}

		.playerName{
			text-align:center;
			font-weight: 100;
		}

		buckets {
			div {
				width: 120px;
			}
		}

	}

}
