profile-main {

	$text-colour: #fff;
	$background-colour:#16a086;

	.content-background{
		background: $white;
	}

	header{
		padding: 45px 25px;
		color:$text-colour;
		background: $primary-gradient;

		loading-img {
			&.no-photo-avatar{
				opacity: 0.5;
			}
			width:14rem;
			height:14rem;
			display:block;
			margin:auto;
			img {
				border-radius:7rem;
			}
		}

		.playerName{
			text-align:center;
			font-weight: 100;
		}

		.playerInfo{

			dt, dd{
				text-align:center;
				margin:0;
				font-weight: 100;
			}

			dd{
				font-size: 2.5rem;
	    		font-weight: bold;
			}

		}


	}

}
