player-summary {
  .player-list {
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
  }

  loading-img img {
    border-radius: 50%;
    width: 50px;
  }
  .player-item {
    margin: 0 5px;
  }
  ion-list {
    margin-bottom: 0!important;
  }
}
