games {
	games-segment {
		display:block;
	}

	no-data-message {
		margin-top: 50%;
	}

	.no-games-message{
		text-align:center;
		margin:20px;
	}

	span.status-text {
		font-weight: bold;

		&[status=played]{
			color: color($colors, primary, base);
		}

		&[status=rejected],
		&[status=forfeit]{
			color: color($colors, danger, base);
		}

	}
}
