<ion-list class="games">
	<ion-list-header>
		Upcoming games
	</ion-list-header>

	<div *ngFor="let game of games$ | async">

		<ion-list-header class="item-header">
			{{game.date | date : ddmmyy}} @ <a>{{game.venue}}</a>
		</ion-list-header>

		<ion-item class="upcoming">
			<ion-grid>
				<ion-row>
					<ion-col width-33>
						<img src="{{game.opponents.side1[0].user.details.image}}" alt="">
						<div class="playerName">{{game.opponents.side1[0].user.details.fullName}}</div>
					</ion-col>

					<ion-col width-33>
						<div class="vs">Vs.</div>
					</ion-col>

					<ion-col width-33>
						<img src="{{game.opponents.side2[0].user.details.image}}">
						<div class="playerName">{{game.opponents.side2[0].user.details.fullName}}</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

	</div>

	<ion-list-header>
		Previous games
	</ion-list-header>

	<div *ngFor="let game of games$ | async">

		<ion-list-header class="item-header">
			{{game.date | date : ddmmyy}} @ <a>{{game.venue}}</a>
		</ion-list-header>

		<ion-item class="previous">
			<ion-grid>
				<ion-row>
					<ion-col width-20>
						<img src="{{game.opponents.side1[0].user.details.image}}" alt="">
						<div class="playerName">{{game.opponents.side1[0].user.details.fullName}}</div>
					</ion-col>

					<ion-col width-80>
						<table>
							<tr>
								<td>6</td>
								<td>5</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
						</table>
					</ion-col>

				</ion-row>

				<ion-row>
					<ion-col width-20>
						<img src="{{game.opponents.side2[0].user.details.image}}" alt="">
						<div class="playerName">{{game.opponents.side2[0].user.details.fullName}}</div>
					</ion-col>

					<ion-col width-80>
						<table>
							<tr>
								<td>6</td>
								<td>5</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
						</table>
					</ion-col>
				</ion-row>

			</ion-grid>
		</ion-item>

	</div>

</ion-list>
