.venue-image-container {
  position:relative;
}

.players-scores-container {
  position:absolute;
  top: 0;
  bottom: 3px;
  width:100%;

  ion-list {
    @include no-borders;

    &:before {
      background: #000;
      opacity: 0.5;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      content: "";
    }
    ion-item {
      background-color: initial;
      color: #fff;
    }
  }

}

.score {
  div {
    display: inline-block;
    background: $darkcyan;
    border-radius: 50%;
    padding: 5px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;

  }
}
